In [151]:
import pandas as pd
import numpy as np
df_monthly = pd.read_csv('housing_in_london_monthly_variables.csv')
df_yearly = pd.read_csv('housing_in_london_yearly_variables.csv')

In [152]:
print("Name of columns and type of data in column:\n\n",df_monthly.dtypes)
print("\n")
print("Shape of data frame:" , df_monthly.shape)

Name of columns and type of data in column:

 date              object
area              object
average_price      int64
code              object
houses_sold      float64
no_of_crimes     float64
borough_flag       int64
dtype: object


Shape of data frame: (13549, 7)

In [153]:
print("Sum of duplicated data in borough_flag column: ",df_monthly.duplicated(subset = ['borough_flag']).sum())
print("Number of unique values in 'code' column in data frame: " , len(df_monthly.code.unique()))
#df_monthly=df_monthly.drop_duplicates(keep = False)
print("Number of unique values in 'date' column in data frame: " , len(df_monthly.date.unique()))
print("Number of unique values in 'area' column in data frame: " , len(df_monthly.area.unique()))
print("Number of unique values in 'code' column in data frame: " , len(df_monthly.code.unique()))
print("Number of unique values in 'houses_sold' column in data frame: " , len(df_monthly.houses_sold.unique()))
print("Number of unique values in 'no_of_crimes' column in data frame: " , len(df_monthly.no_of_crimes.unique()))
print("Number of unique values in 'borough_flag' column in data frame: " , len(df_monthly.borough_flag.unique()))
print("Number of duplicated vaules in 'average price' column in data frame: " , len(df_monthly.average_price.duplicated()))
print("Number of duplicated values in houses_sold column in data frame: " , len(df_monthly.houses_sold.duplicated()))
print("Number of values in each column in data frame:\n" , df_monthly.count())
#print("Dropping duplicated rows from data frame: " , df_monthly = df_monthly.drop_duplicates())
print("Number of null values in data frame:\n" , df_monthly.isnull().sum())

Sum of duplicated data in borough_flag column:  13547
Number of unique values in 'code' column in data frame:  45
Number of unique values in 'date' column in data frame:  301
Number of unique values in 'area' column in data frame:  45
Number of unique values in 'code' column in data frame:  45
Number of unique values in 'houses_sold' column in data frame:  3947
Number of unique values in 'no_of_crimes' column in data frame:  2670
Number of unique values in 'borough_flag' column in data frame:  2
Number of duplicated vaules in 'average price' column in data frame:  13549
Number of duplicated values in houses_sold column in data frame:  13549
Number of values in each column in data frame:
 date             13549
area             13549
average_price    13549
code             13549
houses_sold      13455
no_of_crimes      7439
borough_flag     13549
dtype: int64
Number of null values in data frame:
 date                0
area                0
average_price       0
code                0
houses_sold        94
no_of_crimes     6110
borough_flag        0
dtype: int64

In [154]:
df_monthly.no_of_crimes = df_monthly.no_of_crimes.dropna()

In [155]:
df_monthly

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
0,1995-01-01,city of london,91449,E09000001,17.0,NaN,1
1,1995-02-01,city of london,82203,E09000001,7.0,NaN,1
2,1995-03-01,city of london,79121,E09000001,14.0,NaN,1
3,1995-04-01,city of london,77101,E09000001,7.0,NaN,1
4,1995-05-01,city of london,84409,E09000001,10.0,NaN,1
5,1995-06-01,city of london,94901,E09000001,17.0,NaN,1
6,1995-07-01,city of london,110128,E09000001,13.0,NaN,1
7,1995-08-01,city of london,112329,E09000001,14.0,NaN,1
8,1995-09-01,city of london,104473,E09000001,17.0,NaN,1
9,1995-10-01,city of london,108038,E09000001,14.0,NaN,1
10,1995-11-01,city of london,117636,E09000001,11.0,NaN,1
11,1995-12-01,city of london,127232,E09000001,18.0,NaN,1
12,1996-01-01,city of london,108999,E09000001,17.0,NaN,1
13,1996-02-01,city of london,93357,E09000001,10.0,NaN,1
14,1996-03-01,city of london,93707,E09000001,17.0,NaN,1
15,1996-04-01,city of london,120543,E09000001,14.0,NaN,1
16,1996-05-01,city of london,112050,E09000001,19.0,NaN,1
17,1996-06-01,city of london,114226,E09000001,28.0,NaN,1
18,1996-07-01,city of london,97547,E09000001,30.0,NaN,1
19,1996-08-01,city of london,114179,E09000001,25.0,NaN,1
20,1996-09-01,city of london,108138,E09000001,32.0,NaN,1
21,1996-10-01,city of london,98934,E09000001,33.0,NaN,1
22,1996-11-01,city of london,99707,E09000001,31.0,NaN,1
23,1996-12-01,city of london,106427,E09000001,26.0,NaN,1
24,1997-01-01,city of london,116343,E09000001,22.0,NaN,1
25,1997-02-01,city of london,111142,E09000001,37.0,NaN,1
26,1997-03-01,city of london,107488,E09000001,70.0,NaN,1
27,1997-04-01,city of london,108480,E09000001,19.0,NaN,1
28,1997-05-01,city of london,115453,E09000001,12.0,NaN,1
29,1997-06-01,city of london,118317,E09000001,21.0,NaN,1
...,...,...,...,...,...,...,...
13519,2017-08-01,england,242628,E92000001,82670.0,NaN,0
13520,2017-09-01,england,242041,E92000001,78082.0,NaN,0
13521,2017-10-01,england,242003,E92000001,77047.0,NaN,0
13522,2017-11-01,england,241086,E92000001,76788.0,NaN,0
13523,2017-12-01,england,242378,E92000001,76522.0,NaN,0
13524,2018-01-01,england,241061,E92000001,57138.0,NaN,0
13525,2018-02-01,england,241989,E92000001,58494.0,NaN,0
13526,2018-03-01,england,240428,E92000001,68184.0,NaN,0
13527,2018-04-01,england,242396,E92000001,58939.0,NaN,0
13528,2018-05-01,england,243445,E92000001,67590.0,NaN,0
13529,2018-06-01,england,244962,E92000001,78937.0,NaN,0
13530,2018-07-01,england,247981,E92000001,73730.0,NaN,0
13531,2018-08-01,england,248620,E92000001,84466.0,NaN,0
13532,2018-09-01,england,248248,E92000001,68839.0,NaN,0
13533,2018-10-01,england,247676,E92000001,76785.0,NaN,0
13534,2018-11-01,england,246896,E92000001,81429.0,NaN,0
13535,2018-12-01,england,246518,E92000001,69456.0,NaN,0
13536,2019-01-01,england,244641,E92000001,54134.0,NaN,0
13537,2019-02-01,england,244582,E92000001,57222.0,NaN,0
13538,2019-03-01,england,243281,E92000001,64940.0,NaN,0
13539,2019-04-01,england,245077,E92000001,59710.0,NaN,0
13540,2019-05-01,england,245255,E92000001,65387.0,NaN,0
13541,2019-06-01,england,246140,E92000001,66723.0,NaN,0
13542,2019-07-01,england,248562,E92000001,70681.0,NaN,0
13543,2019-08-01,england,249432,E92000001,75079.0,NaN,0
13544,2019-09-01,england,249942,E92000001,64605.0,NaN,0
13545,2019-10-01,england,249376,E92000001,68677.0,NaN,0
13546,2019-11-01,england,248515,E92000001,67814.0,NaN,0
13547,2019-12-01,england,250410,E92000001,NaN,NaN,0
13548,2020-01-01,england,247355,E92000001,NaN,NaN,0

In [135]:
df_monthly.drop_duplicates(keep = False)

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
0,1995-01-01,city of london,91449,E09000001,17.0,NaN,1
1,1995-02-01,city of london,82203,E09000001,7.0,NaN,1
2,1995-03-01,city of london,79121,E09000001,14.0,NaN,1
3,1995-04-01,city of london,77101,E09000001,7.0,NaN,1
4,1995-05-01,city of london,84409,E09000001,10.0,NaN,1
5,1995-06-01,city of london,94901,E09000001,17.0,NaN,1
6,1995-07-01,city of london,110128,E09000001,13.0,NaN,1
7,1995-08-01,city of london,112329,E09000001,14.0,NaN,1
8,1995-09-01,city of london,104473,E09000001,17.0,NaN,1
9,1995-10-01,city of london,108038,E09000001,14.0,NaN,1
10,1995-11-01,city of london,117636,E09000001,11.0,NaN,1
11,1995-12-01,city of london,127232,E09000001,18.0,NaN,1
12,1996-01-01,city of london,108999,E09000001,17.0,NaN,1
13,1996-02-01,city of london,93357,E09000001,10.0,NaN,1
14,1996-03-01,city of london,93707,E09000001,17.0,NaN,1
15,1996-04-01,city of london,120543,E09000001,14.0,NaN,1
16,1996-05-01,city of london,112050,E09000001,19.0,NaN,1
17,1996-06-01,city of london,114226,E09000001,28.0,NaN,1
18,1996-07-01,city of london,97547,E09000001,30.0,NaN,1
19,1996-08-01,city of london,114179,E09000001,25.0,NaN,1
20,1996-09-01,city of london,108138,E09000001,32.0,NaN,1
21,1996-10-01,city of london,98934,E09000001,33.0,NaN,1
22,1996-11-01,city of london,99707,E09000001,31.0,NaN,1
23,1996-12-01,city of london,106427,E09000001,26.0,NaN,1
24,1997-01-01,city of london,116343,E09000001,22.0,NaN,1
25,1997-02-01,city of london,111142,E09000001,37.0,NaN,1
26,1997-03-01,city of london,107488,E09000001,70.0,NaN,1
27,1997-04-01,city of london,108480,E09000001,19.0,NaN,1
28,1997-05-01,city of london,115453,E09000001,12.0,NaN,1
29,1997-06-01,city of london,118317,E09000001,21.0,NaN,1
...,...,...,...,...,...,...,...
13519,2017-08-01,england,242628,E92000001,82670.0,NaN,0
13520,2017-09-01,england,242041,E92000001,78082.0,NaN,0
13521,2017-10-01,england,242003,E92000001,77047.0,NaN,0
13522,2017-11-01,england,241086,E92000001,76788.0,NaN,0
13523,2017-12-01,england,242378,E92000001,76522.0,NaN,0
13524,2018-01-01,england,241061,E92000001,57138.0,NaN,0
13525,2018-02-01,england,241989,E92000001,58494.0,NaN,0
13526,2018-03-01,england,240428,E92000001,68184.0,NaN,0
13527,2018-04-01,england,242396,E92000001,58939.0,NaN,0
13528,2018-05-01,england,243445,E92000001,67590.0,NaN,0
13529,2018-06-01,england,244962,E92000001,78937.0,NaN,0
13530,2018-07-01,england,247981,E92000001,73730.0,NaN,0
13531,2018-08-01,england,248620,E92000001,84466.0,NaN,0
13532,2018-09-01,england,248248,E92000001,68839.0,NaN,0
13533,2018-10-01,england,247676,E92000001,76785.0,NaN,0
13534,2018-11-01,england,246896,E92000001,81429.0,NaN,0
13535,2018-12-01,england,246518,E92000001,69456.0,NaN,0
13536,2019-01-01,england,244641,E92000001,54134.0,NaN,0
13537,2019-02-01,england,244582,E92000001,57222.0,NaN,0
13538,2019-03-01,england,243281,E92000001,64940.0,NaN,0
13539,2019-04-01,england,245077,E92000001,59710.0,NaN,0
13540,2019-05-01,england,245255,E92000001,65387.0,NaN,0
13541,2019-06-01,england,246140,E92000001,66723.0,NaN,0
13542,2019-07-01,england,248562,E92000001,70681.0,NaN,0
13543,2019-08-01,england,249432,E92000001,75079.0,NaN,0
13544,2019-09-01,england,249942,E92000001,64605.0,NaN,0
13545,2019-10-01,england,249376,E92000001,68677.0,NaN,0
13546,2019-11-01,england,248515,E92000001,67814.0,NaN,0
13547,2019-12-01,england,250410,E92000001,NaN,NaN,0
13548,2020-01-01,england,247355,E92000001,NaN,NaN,0

In [19]:
df_monthly = df_monthly.dropna()
df_monthly.count()
print(df_monthly.isnull().sum())
import seaborn as sns 
sns.boxplot(x=df_monthly.average_price)
sns.boxplot(x=df_monthly.houses_sold)
sns.boxplot(x=df_monthly.no_of_crimes)
sns.boxplot(x=df_monthly.borough_flag)
# statistics 
q1 = df_monthly.quantile(0.25)
q3 = df_monthly.quantile(0.75)
iqr = q3-q1
print(iqr)
df_monthly = df_monthly[~((df_monthly < (q1-1.5 * iqr)) | (df_monthly > (q3 + 1.5 * iqr))).any(axis=1)]
df_monthly.shape
df_monthly.average_price.value_counts().nlargest(40).plot(kind='bar',figsize=(10,5))
plt.title("Average Price")
plt.xlabel("Price")
plt.ylabel("Not sure")
df_monthly.houses_sold.value_counts().nlargest(40).plot(kind='bar',figsize=(10,5))
plt.title("Houses Sold")
plt.xlabel("Houses Sold")
plt.ylabel("Not sure")
df_monthly.no_of_crimes.value_counts().nlargest(40).plot(kind='bar',figsize=(10,5))
plt.title("Number of Crimes")
plt.xlabel("No. of crimes")
plt.ylabel("Not sure")
plt.figure(figsize = (20,10))
c = df_monthly.corr()
sns.heatmap(c,cmap="BrBG",annot=True)
c
fig, ax = plt.subplots(figsize = (10,6))
ax.scatter(df_monthly.date,df_monthly.average_price)
ax.set_xlabel('date')
ax.set_ylabel('average_price')
plt.show()

In [23]:
# count 0's and 1's in column
counts = flags.value_counts()
counts[0], counts[1]

(3613, 9936)

In [123]:
import seaborn as sns
from seaborn import FacetGrid
#df_monthly['borough_flag'].plot()
flags = df_monthly.borough_flag
date = df_monthly.date
average_price = df_monthly.average_price
no_of_crimes = df_monthly.no_of_crimes
houses_sold = df_monthly.houses_sold
len(df_monthly.columns)
g = FacetGrid(df_monthly,col='average_price',height = 3.5,aspect = .65)
g.map(sns.lineplot,"date")
sns.lineplot(x=date,y=no_of_crimes)
sns.lineplot(x=date,y=houses_sold)
df_monthly['date'].duplicated()
df_monthly['area'].duplicated()
df_monthly['code'].duplicated()
df_monthly.info()
df_monthly['borough_flag'].plot()
df_monthly['houses_sold'].plot()
df_monthly['average_price'].plot()
df_monthly['no_of_crimes'].plot()
df_monthly['borough_flag'].mean()
df_monthly['borough_flag'].std()
# count 0's and 1's in column
counts = flags.value_counts()
counts[0], counts[1]

KeyboardInterrupt:

Error in callback <function install_repl_displayhook.<locals>.post_execute at 0x122ad7950> (for post_execute):

ValueError: Image size of 2185583x252 pixels is too large. It must be less than 2^16 in each direction.

ValueError: Image size of 2185583x252 pixels is too large. It must be less than 2^16 in each direction.

In [136]:
df_monthly.count()

date             13549
area             13549
average_price    13549
code             13549
houses_sold      13455
no_of_crimes      7439
borough_flag     13549
dtype: int64