In [6]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline 
df = pd.read_csv('Marketing_analysis.csv',skiprows=2)

In [7]:
df.head()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

In [8]:
df.drop('customerid',axis=1,inplace=True)

In [9]:
# .apply() applies a function to a column in pandas data frame 
df['job'] = df.jobedu.apply(lambda x: x.split(",")[0])
df['education'] = df.jobedu.apply(lambda x: x.split(",")[1])
# drops column from data frame, axis specifies to drop labels in column or index
df.drop('jobedu',axis = 1, inplace=True)
df.isnull().sum()

age          20
salary        0
balance       0
marital       0
targeted      0
default       0
housing       0
loan          0
contact       0
day           0
month        50
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
response     30
job           0
education     0
dtype: int64

In [12]:
mean_age = df.age.mean()

In [15]:
df.age = df.age.fillna(mean_age)

In [19]:
df.month = pd.to_datetime(df.month)

In [43]:
type(df.month[0])

pandas._libs.tslibs.timestamps.Timestamp

In [46]:
mode = df['month'].mode()

In [47]:
mode

0   2017-05-01
dtype: datetime64[ns]

In [53]:
df['month'].fillna(mode,inplace=True)

In [54]:
df.month.isnull().sum()

50

In [56]:
df.response.unique()

array(['no', 'yes', nan], dtype=object)

In [57]:
df.response.mode()

0    no
dtype: object

In [60]:
df.response = df.response.fillna(0)

In [61]:
df.isnull().sum()

age           0
salary        0
balance       0
marital       0
targeted      0
default       0
housing       0
loan          0
contact       0
day           0
month        50
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
response      0
job           0
education     0
dtype: int64

In [70]:
mode = df.month.mode()[0]

In [71]:
df.month = df.month.fillna(mode)